@import "tailwindcss";

@theme {
  --color-white: #f9fafb;
  --color-primary: #2d4052;
  --color-secondary: #ff5528;
  --color-yellow: #ffa415;
}

/* .nav-link {
  @apply text-blue-500 hover:text-indigo-600 transition-colors font-medium;
} */
